.login {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(rgba(255,255,255,0.5) ,rgba(255,255,255,0.5)), url("https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
.logintitle{
    font-size: 50px;
}
.loginform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.loginform > label{
    margin: 10px 0;

}
.logininput{
    padding: 10px;
    background-color: white;
    border: none;

}
.loginbutton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border:none;
    color: white;
    border-radius: 10px;
    padding:10px;
}
.loginregisterbutton{
    position: absolute;
    top:60px;
    right:20px;
    background-color:coral;
    border:none;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
