.header{
    margin-top: 60px;
    
}
.headertitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora',serif;
    color:#444;
}
.headertitlessmall{
    position: absolute;
    top:18%;
    font-size: 20px;

}
.headertitlebig{
    position: absolute;
    top:20%;
    font-size: 100px;
}
.headerimg{
    width: 100%;
    height:450px;
    margin-top: 8px;
    object-fit: cover;
}